/*--- genarel css style --- */
body{
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Great Vibes', cursive;
    font-family: 'Kaushan Script', cursive; */
}

*{
    box-sizing: border-box;
}

body{
    background-color: #0e0d0d;  
}

.text-h{
    font-family: 'Kaushan Script', cursive;
}

.text-p{
    font-family: 'Great Vibes', cursive;
}

.text-p-2{
    font-family: 'Poppins', sans-serif;
}

.header-bg-color{
    background-color: #000000;
}

.main-color{
    background-color: #0e0d0d;
}
hr{
    color: #504a4a;
}